@tailwind base;
@tailwind components;
@tailwind utilities;

.img-white {
  filter: invert(1);
}

.img-orange {
  filter: invert(0.5) sepia(1) saturate(3) hue-rotate(10deg);
}

.img-blue {
  filter: invert(0.5) sepia(1) saturate(3) hue-rotate(200deg);
}