:root {
--tw-colors-inherit: inherit;
--tw-colors-current: currentColor;
--tw-colors-transparent: transparent;
--tw-colors-black: #000;
--tw-colors-white: #fff;
--tw-colors-slate-50: #f8fafc;
--tw-colors-slate-100: #f1f5f9;
--tw-colors-slate-200: #e2e8f0;
--tw-colors-slate-300: #cbd5e1;
--tw-colors-slate-400: #94a3b8;
--tw-colors-slate-500: #64748b;
--tw-colors-slate-600: #475569;
--tw-colors-slate-700: #334155;
--tw-colors-slate-800: #1e293b;
--tw-colors-slate-900: #0f172a;
--tw-colors-gray-50: #f9fafb;
--tw-colors-gray-100: #f3f4f6;
--tw-colors-gray-200: #e5e7eb;
--tw-colors-gray-300: #d1d5db;
--tw-colors-gray-400: #9ca3af;
--tw-colors-gray-500: #6b7280;
--tw-colors-gray-600: #4b5563;
--tw-colors-gray-700: #374151;
--tw-colors-gray-800: #1f2937;
--tw-colors-gray-900: #111827;
--tw-colors-zinc-50: #fafafa;
--tw-colors-zinc-100: #f4f4f5;
--tw-colors-zinc-200: #e4e4e7;
--tw-colors-zinc-300: #d4d4d8;
--tw-colors-zinc-400: #a1a1aa;
--tw-colors-zinc-500: #71717a;
--tw-colors-zinc-600: #52525b;
--tw-colors-zinc-700: #3f3f46;
--tw-colors-zinc-800: #27272a;
--tw-colors-zinc-900: #18181b;
--tw-colors-neutral-50: #fafafa;
--tw-colors-neutral-100: #f5f5f5;
--tw-colors-neutral-200: #e5e5e5;
--tw-colors-neutral-300: #d4d4d4;
--tw-colors-neutral-400: #a3a3a3;
--tw-colors-neutral-500: #737373;
--tw-colors-neutral-600: #525252;
--tw-colors-neutral-700: #404040;
--tw-colors-neutral-800: #262626;
--tw-colors-neutral-900: #171717;
--tw-colors-stone-50: #fafaf9;
--tw-colors-stone-100: #f5f5f4;
--tw-colors-stone-200: #e7e5e4;
--tw-colors-stone-300: #d6d3d1;
--tw-colors-stone-400: #a8a29e;
--tw-colors-stone-500: #78716c;
--tw-colors-stone-600: #57534e;
--tw-colors-stone-700: #44403c;
--tw-colors-stone-800: #292524;
--tw-colors-stone-900: #1c1917;
--tw-colors-red-50: #fef2f2;
--tw-colors-red-100: #fee2e2;
--tw-colors-red-200: #fecaca;
--tw-colors-red-300: #fca5a5;
--tw-colors-red-400: #f87171;
--tw-colors-red-500: #ef4444;
--tw-colors-red-600: #dc2626;
--tw-colors-red-700: #b91c1c;
--tw-colors-red-800: #991b1b;
--tw-colors-red-900: #7f1d1d;
--tw-colors-orange-50: #fff7ed;
--tw-colors-orange-100: #ffedd5;
--tw-colors-orange-200: #fed7aa;
--tw-colors-orange-300: #fdba74;
--tw-colors-orange-400: #fb923c;
--tw-colors-orange-500: #f97316;
--tw-colors-orange-600: #ea580c;
--tw-colors-orange-700: #c2410c;
--tw-colors-orange-800: #9a3412;
--tw-colors-orange-900: #7c2d12;
--tw-colors-amber-50: #fffbeb;
--tw-colors-amber-100: #fef3c7;
--tw-colors-amber-200: #fde68a;
--tw-colors-amber-300: #fcd34d;
--tw-colors-amber-400: #fbbf24;
--tw-colors-amber-500: #f59e0b;
--tw-colors-amber-600: #d97706;
--tw-colors-amber-700: #b45309;
--tw-colors-amber-800: #92400e;
--tw-colors-amber-900: #78350f;
--tw-colors-yellow-50: #fefce8;
--tw-colors-yellow-100: #fef9c3;
--tw-colors-yellow-200: #fef08a;
--tw-colors-yellow-300: #fde047;
--tw-colors-yellow-400: #facc15;
--tw-colors-yellow-500: #eab308;
--tw-colors-yellow-600: #ca8a04;
--tw-colors-yellow-700: #a16207;
--tw-colors-yellow-800: #854d0e;
--tw-colors-yellow-900: #713f12;
--tw-colors-lime-50: #f7fee7;
--tw-colors-lime-100: #ecfccb;
--tw-colors-lime-200: #d9f99d;
--tw-colors-lime-300: #bef264;
--tw-colors-lime-400: #a3e635;
--tw-colors-lime-500: #84cc16;
--tw-colors-lime-600: #65a30d;
--tw-colors-lime-700: #4d7c0f;
--tw-colors-lime-800: #3f6212;
--tw-colors-lime-900: #365314;
--tw-colors-green-50: #f0fdf4;
--tw-colors-green-100: #dcfce7;
--tw-colors-green-200: #bbf7d0;
--tw-colors-green-300: #86efac;
--tw-colors-green-400: #4ade80;
--tw-colors-green-500: #22c55e;
--tw-colors-green-600: #16a34a;
--tw-colors-green-700: #15803d;
--tw-colors-green-800: #166534;
--tw-colors-green-900: #14532d;
--tw-colors-emerald-50: #ecfdf5;
--tw-colors-emerald-100: #d1fae5;
--tw-colors-emerald-200: #a7f3d0;
--tw-colors-emerald-300: #6ee7b7;
--tw-colors-emerald-400: #34d399;
--tw-colors-emerald-500: #10b981;
--tw-colors-emerald-600: #059669;
--tw-colors-emerald-700: #047857;
--tw-colors-emerald-800: #065f46;
--tw-colors-emerald-900: #064e3b;
--tw-colors-teal-50: #f0fdfa;
--tw-colors-teal-100: #ccfbf1;
--tw-colors-teal-200: #99f6e4;
--tw-colors-teal-300: #5eead4;
--tw-colors-teal-400: #2dd4bf;
--tw-colors-teal-500: #14b8a6;
--tw-colors-teal-600: #0d9488;
--tw-colors-teal-700: #0f766e;
--tw-colors-teal-800: #115e59;
--tw-colors-teal-900: #134e4a;
--tw-colors-cyan-50: #ecfeff;
--tw-colors-cyan-100: #cffafe;
--tw-colors-cyan-200: #a5f3fc;
--tw-colors-cyan-300: #67e8f9;
--tw-colors-cyan-400: #22d3ee;
--tw-colors-cyan-500: #06b6d4;
--tw-colors-cyan-600: #0891b2;
--tw-colors-cyan-700: #0e7490;
--tw-colors-cyan-800: #155e75;
--tw-colors-cyan-900: #164e63;
--tw-colors-sky-50: #f0f9ff;
--tw-colors-sky-100: #e0f2fe;
--tw-colors-sky-200: #bae6fd;
--tw-colors-sky-300: #7dd3fc;
--tw-colors-sky-400: #38bdf8;
--tw-colors-sky-500: #0ea5e9;
--tw-colors-sky-600: #0284c7;
--tw-colors-sky-700: #0369a1;
--tw-colors-sky-800: #075985;
--tw-colors-sky-900: #0c4a6e;
--tw-colors-blue-50: #eff6ff;
--tw-colors-blue-100: #dbeafe;
--tw-colors-blue-200: #bfdbfe;
--tw-colors-blue-300: #93c5fd;
--tw-colors-blue-400: #60a5fa;
--tw-colors-blue-500: #3b82f6;
--tw-colors-blue-600: #2563eb;
--tw-colors-blue-700: #1d4ed8;
--tw-colors-blue-800: #1e40af;
--tw-colors-blue-900: #1e3a8a;
--tw-colors-indigo-50: #eef2ff;
--tw-colors-indigo-100: #e0e7ff;
--tw-colors-indigo-200: #c7d2fe;
--tw-colors-indigo-300: #a5b4fc;
--tw-colors-indigo-400: #818cf8;
--tw-colors-indigo-500: #6366f1;
--tw-colors-indigo-600: #4f46e5;
--tw-colors-indigo-700: #4338ca;
--tw-colors-indigo-800: #3730a3;
--tw-colors-indigo-900: #312e81;
--tw-colors-violet-50: #f5f3ff;
--tw-colors-violet-100: #ede9fe;
--tw-colors-violet-200: #ddd6fe;
--tw-colors-violet-300: #c4b5fd;
--tw-colors-violet-400: #a78bfa;
--tw-colors-violet-500: #8b5cf6;
--tw-colors-violet-600: #7c3aed;
--tw-colors-violet-700: #6d28d9;
--tw-colors-violet-800: #5b21b6;
--tw-colors-violet-900: #4c1d95;
--tw-colors-purple-50: #faf5ff;
--tw-colors-purple-100: #f3e8ff;
--tw-colors-purple-200: #e9d5ff;
--tw-colors-purple-300: #d8b4fe;
--tw-colors-purple-400: #c084fc;
--tw-colors-purple-500: #a855f7;
--tw-colors-purple-600: #9333ea;
--tw-colors-purple-700: #7e22ce;
--tw-colors-purple-800: #6b21a8;
--tw-colors-purple-900: #581c87;
--tw-colors-fuchsia-50: #fdf4ff;
--tw-colors-fuchsia-100: #fae8ff;
--tw-colors-fuchsia-200: #f5d0fe;
--tw-colors-fuchsia-300: #f0abfc;
--tw-colors-fuchsia-400: #e879f9;
--tw-colors-fuchsia-500: #d946ef;
--tw-colors-fuchsia-600: #c026d3;
--tw-colors-fuchsia-700: #a21caf;
--tw-colors-fuchsia-800: #86198f;
--tw-colors-fuchsia-900: #701a75;
--tw-colors-pink-50: #fdf2f8;
--tw-colors-pink-100: #fce7f3;
--tw-colors-pink-200: #fbcfe8;
--tw-colors-pink-300: #f9a8d4;
--tw-colors-pink-400: #f472b6;
--tw-colors-pink-500: #ec4899;
--tw-colors-pink-600: #db2777;
--tw-colors-pink-700: #be185d;
--tw-colors-pink-800: #9d174d;
--tw-colors-pink-900: #831843;
--tw-colors-rose-50: #fff1f2;
--tw-colors-rose-100: #ffe4e6;
--tw-colors-rose-200: #fecdd3;
--tw-colors-rose-300: #fda4af;
--tw-colors-rose-400: #fb7185;
--tw-colors-rose-500: #f43f5e;
--tw-colors-rose-600: #e11d48;
--tw-colors-rose-700: #be123c;
--tw-colors-rose-800: #9f1239;
--tw-colors-rose-900: #881337;
--tw-font-family-sans: ui-sans-serif;
--tw-font-family-sans: system-ui;
--tw-font-family-sans: -apple-system;
--tw-font-family-sans: BlinkMacSystemFont;
--tw-font-family-sans: "Segoe UI";
--tw-font-family-sans: Roboto;
--tw-font-family-sans: "Helvetica Neue";
--tw-font-family-sans: Arial;
--tw-font-family-sans: "Noto Sans";
--tw-font-family-sans: sans-serif;
--tw-font-family-sans: "Apple Color Emoji";
--tw-font-family-sans: "Segoe UI Emoji";
--tw-font-family-sans: "Segoe UI Symbol";
--tw-font-family-sans: "Noto Color Emoji";
--tw-font-family-serif: ui-serif;
--tw-font-family-serif: Georgia;
--tw-font-family-serif: Cambria;
--tw-font-family-serif: "Times New Roman";
--tw-font-family-serif: Times;
--tw-font-family-serif: serif;
--tw-font-family-mono: ui-monospace;
--tw-font-family-mono: SFMono-Regular;
--tw-font-family-mono: Menlo;
--tw-font-family-mono: Monaco;
--tw-font-family-mono: Consolas;
--tw-font-family-mono: "Liberation Mono";
--tw-font-family-mono: "Courier New";
--tw-font-family-mono: monospace;
--tw-font-size-xs: 0.75rem;
--tw-font-size-xs-line-height: 1rem;
--tw-font-size-sm: 0.875rem;
--tw-font-size-sm-line-height: 1.25rem;
--tw-font-size-base: 1rem;
--tw-font-size-base-line-height: 1.5rem;
--tw-font-size-lg: 1.125rem;
--tw-font-size-lg-line-height: 1.75rem;
--tw-font-size-xl: 1.25rem;
--tw-font-size-xl-line-height: 1.75rem;
--tw-font-size-2xl: 1.5rem;
--tw-font-size-2xl-line-height: 2rem;
--tw-font-size-3xl: 1.875rem;
--tw-font-size-3xl-line-height: 2.25rem;
--tw-font-size-4xl: 2.25rem;
--tw-font-size-4xl-line-height: 2.5rem;
--tw-font-size-5xl: 3rem;
--tw-font-size-5xl-line-height: 1;
--tw-font-size-6xl: 3.75rem;
--tw-font-size-6xl-line-height: 1;
--tw-font-size-7xl: 4.5rem;
--tw-font-size-7xl-line-height: 1;
--tw-font-size-8xl: 6rem;
--tw-font-size-8xl-line-height: 1;
--tw-font-size-9xl: 8rem;
--tw-font-size-9xl-line-height: 1;
--tw-font-weight-thin: 100;
--tw-font-weight-extralight: 200;
--tw-font-weight-light: 300;
--tw-font-weight-normal: 400;
--tw-font-weight-medium: 500;
--tw-font-weight-semibold: 600;
--tw-font-weight-bold: 700;
--tw-font-weight-extrabold: 800;
--tw-font-weight-black: 900;
--tw-spacing-0: 0px;
--tw-spacing-1: 0.25rem;
--tw-spacing-2: 0.5rem;
--tw-spacing-3: 0.75rem;
--tw-spacing-4: 1rem;
--tw-spacing-5: 1.25rem;
--tw-spacing-6: 1.5rem;
--tw-spacing-7: 1.75rem;
--tw-spacing-8: 2rem;
--tw-spacing-9: 2.25rem;
--tw-spacing-10: 2.5rem;
--tw-spacing-11: 2.75rem;
--tw-spacing-12: 3rem;
--tw-spacing-14: 3.5rem;
--tw-spacing-16: 4rem;
--tw-spacing-20: 5rem;
--tw-spacing-24: 6rem;
--tw-spacing-28: 7rem;
--tw-spacing-32: 8rem;
--tw-spacing-36: 9rem;
--tw-spacing-40: 10rem;
--tw-spacing-44: 11rem;
--tw-spacing-48: 12rem;
--tw-spacing-52: 13rem;
--tw-spacing-56: 14rem;
--tw-spacing-60: 15rem;
--tw-spacing-64: 16rem;
--tw-spacing-72: 18rem;
--tw-spacing-80: 20rem;
--tw-spacing-96: 24rem;
--tw-spacing-px: 1px;
--tw-spacing-0-dot-5: 0.125rem;
--tw-spacing-1-dot-5: 0.375rem;
--tw-spacing-2-dot-5: 0.625rem;
--tw-spacing-3-dot-5: 0.875rem;
--tw-z-index-0: 0;
--tw-z-index-10: 10;
--tw-z-index-20: 20;
--tw-z-index-30: 30;
--tw-z-index-40: 40;
--tw-z-index-50: 50;
--tw-z-index-auto: auto;
}