:root {
--exported-colors-white: #FFFFFF;
--exported-colors-black: #000000;
--exported-colors-gray-0: #F8FAFB;
--exported-colors-gray-1: #F2F4F6;
--exported-colors-gray-2: #EBEDEF;
--exported-colors-gray-3: #E0E4E5;
--exported-colors-gray-4: #D1D6D8;
--exported-colors-gray-5: #B1B6B9;
--exported-colors-gray-6: #979B9D;
--exported-colors-gray-7: #7E8282;
--exported-colors-gray-8: #666968;
--exported-colors-gray-9: #50514F;
--exported-colors-gray-10: #3A3A37;
--exported-colors-gray-11: #252521;
--exported-colors-gray-12: #121210;
--exported-colors-red-0: #FFF5F5;
--exported-colors-red-1: #FFE3E3;
--exported-colors-red-2: #FFC9C9;
--exported-colors-red-3: #FFA8A8;
--exported-colors-red-4: #FF8787;
--exported-colors-red-5: #FF6B6B;
--exported-colors-red-6: #FA5252;
--exported-colors-red-7: #F03E3E;
--exported-colors-red-8: #E03131;
--exported-colors-red-9: #C92A2A;
--exported-colors-red-10: #B02525;
--exported-colors-red-11: #962020;
--exported-colors-red-12: #7D1A1A;
--exported-colors-pink-0: #FFF0F6;
--exported-colors-pink-1: #FFDEEB;
--exported-colors-pink-2: #FCC2D7;
--exported-colors-pink-3: #FAA2C1;
--exported-colors-pink-4: #F783AC;
--exported-colors-pink-5: #F06595;
--exported-colors-pink-6: #E64980;
--exported-colors-pink-7: #D6336C;
--exported-colors-pink-8: #C2255C;
--exported-colors-pink-9: #A61E4D;
--exported-colors-pink-10: #8C1941;
--exported-colors-pink-11: #731536;
--exported-colors-pink-12: #59102A;
--exported-colors-purple-0: #F8F0FC;
--exported-colors-purple-1: #F3D9FA;
--exported-colors-purple-2: #EEBEFA;
--exported-colors-purple-3: #E599F7;
--exported-colors-purple-4: #DA77F2;
--exported-colors-purple-5: #CC5DE8;
--exported-colors-purple-6: #BE4BDB;
--exported-colors-purple-7: #AE3EC9;
--exported-colors-purple-8: #9C36B5;
--exported-colors-purple-9: #862E9C;
--exported-colors-purple-10: #702682;
--exported-colors-purple-11: #5A1E69;
--exported-colors-purple-12: #44174F;
--exported-colors-violet-0: #F3F0FF;
--exported-colors-violet-1: #E5DBFF;
--exported-colors-violet-2: #D0BFFF;
--exported-colors-violet-3: #B197FC;
--exported-colors-violet-4: #9775FA;
--exported-colors-violet-5: #845EF7;
--exported-colors-violet-6: #7950F2;
--exported-colors-violet-7: #7048E8;
--exported-colors-violet-8: #6741D9;
--exported-colors-violet-9: #5F3DC4;
--exported-colors-violet-10: #5235AB;
--exported-colors-violet-11: #462D91;
--exported-colors-violet-12: #3A2578;
--exported-colors-indigo-0: #EDF2FF;
--exported-colors-indigo-1: #DBE4FF;
--exported-colors-indigo-2: #BAC8FF;
--exported-colors-indigo-3: #91A7FF;
--exported-colors-indigo-4: #748FFC;
--exported-colors-indigo-5: #5C7CFA;
--exported-colors-indigo-6: #4C6EF5;
--exported-colors-indigo-7: #4263EB;
--exported-colors-indigo-8: #3B5BDB;
--exported-colors-indigo-9: #364FC7;
--exported-colors-indigo-10: #2F44AD;
--exported-colors-indigo-11: #283A94;
--exported-colors-indigo-12: #21307A;
--exported-colors-blue-0: #E7F5FF;
--exported-colors-blue-1: #D0EBFF;
--exported-colors-blue-2: #A5D8FF;
--exported-colors-blue-3: #74C0FC;
--exported-colors-blue-4: #4DABF7;
--exported-colors-blue-5: #339AF0;
--exported-colors-blue-6: #228BE6;
--exported-colors-blue-7: #1C7ED6;
--exported-colors-blue-8: #1971C2;
--exported-colors-blue-9: #1864AB;
--exported-colors-blue-10: #145591;
--exported-colors-blue-11: #114678;
--exported-colors-blue-12: #0D375E;
--exported-colors-cyan-0: #E3FAFC;
--exported-colors-cyan-1: #C5F6FA;
--exported-colors-cyan-2: #99E9F2;
--exported-colors-cyan-3: #66D9E8;
--exported-colors-cyan-4: #3BC9DB;
--exported-colors-cyan-5: #22B8CF;
--exported-colors-cyan-6: #15AABF;
--exported-colors-cyan-7: #1098AD;
--exported-colors-cyan-8: #0C8599;
--exported-colors-cyan-9: #0B7285;
--exported-colors-cyan-10: #095C6B;
--exported-colors-cyan-11: #074652;
--exported-colors-cyan-12: #053038;
--exported-colors-teal-0: #E6FCF5;
--exported-colors-teal-1: #C3FAE8;
--exported-colors-teal-2: #96F2D7;
--exported-colors-teal-3: #63E6BE;
--exported-colors-teal-4: #38D9A9;
--exported-colors-teal-5: #20C997;
--exported-colors-teal-6: #12B886;
--exported-colors-teal-7: #0CA678;
--exported-colors-teal-8: #099268;
--exported-colors-teal-9: #087F5B;
--exported-colors-teal-10: #066649;
--exported-colors-teal-11: #054D37;
--exported-colors-teal-12: #033325;
--exported-colors-green-0: #EBFBEE;
--exported-colors-green-1: #D3F9D8;
--exported-colors-green-2: #B2F2BB;
--exported-colors-green-3: #8CE99A;
--exported-colors-green-4: #69DB7C;
--exported-colors-green-5: #51CF66;
--exported-colors-green-6: #40C057;
--exported-colors-green-7: #37B24D;
--exported-colors-green-8: #2F9E44;
--exported-colors-green-9: #2B8A3E;
--exported-colors-green-10: #237032;
--exported-colors-green-11: #1B5727;
--exported-colors-green-12: #133D1B;
--exported-colors-lime-0: #F4FCE3;
--exported-colors-lime-1: #E9FAC8;
--exported-colors-lime-2: #D8F5A2;
--exported-colors-lime-3: #C0EB75;
--exported-colors-lime-4: #A9E34B;
--exported-colors-lime-5: #94D82D;
--exported-colors-lime-6: #82C91E;
--exported-colors-lime-7: #74B816;
--exported-colors-lime-8: #66A80F;
--exported-colors-lime-9: #5C940D;
--exported-colors-lime-10: #4C7A0B;
--exported-colors-lime-11: #3C6109;
--exported-colors-lime-12: #2C4706;
--exported-colors-yellow-0: #FFF9DB;
--exported-colors-yellow-1: #FFF3BF;
--exported-colors-yellow-2: #FFEC99;
--exported-colors-yellow-3: #FFE066;
--exported-colors-yellow-4: #FFD43B;
--exported-colors-yellow-5: #FCC419;
--exported-colors-yellow-6: #FAB005;
--exported-colors-yellow-7: #F59F00;
--exported-colors-yellow-8: #F08C00;
--exported-colors-yellow-9: #E67700;
--exported-colors-yellow-10: #B35C00;
--exported-colors-yellow-11: #804200;
--exported-colors-yellow-12: #663500;
--exported-colors-orange-0: #FFF4E6;
--exported-colors-orange-1: #FFE8CC;
--exported-colors-orange-2: #FFD8A8;
--exported-colors-orange-3: #FFC078;
--exported-colors-orange-4: #FFA94D;
--exported-colors-orange-5: #FF922B;
--exported-colors-orange-6: #FD7E14;
--exported-colors-orange-7: #F76707;
--exported-colors-orange-8: #E8590C;
--exported-colors-orange-9: #D9480F;
--exported-colors-orange-10: #BF400D;
--exported-colors-orange-11: #99330B;
--exported-colors-orange-12: #802B09;
--exported-colors-choco-0: #FFF8DC;
--exported-colors-choco-1: #FCE1BC;
--exported-colors-choco-2: #F7CA9E;
--exported-colors-choco-3: #F1B280;
--exported-colors-choco-4: #E99B62;
--exported-colors-choco-5: #DF8545;
--exported-colors-choco-6: #D46E25;
--exported-colors-choco-7: #BD5F1B;
--exported-colors-choco-8: #A45117;
--exported-colors-choco-9: #8A4513;
--exported-colors-choco-10: #703A13;
--exported-colors-choco-11: #572F12;
--exported-colors-choco-12: #3D210D;
--exported-colors-brown-0: #FAF4EB;
--exported-colors-brown-1: #EDE0D1;
--exported-colors-brown-2: #E0CAB7;
--exported-colors-brown-3: #D3B79E;
--exported-colors-brown-4: #C5A285;
--exported-colors-brown-5: #B78F6D;
--exported-colors-brown-6: #A87C56;
--exported-colors-brown-7: #956B47;
--exported-colors-brown-8: #825B3A;
--exported-colors-brown-9: #6F4B2D;
--exported-colors-brown-10: #5E3A21;
--exported-colors-brown-11: #4E2B15;
--exported-colors-brown-12: #422412;
--exported-colors-sand-0: #F8FAFB;
--exported-colors-sand-1: #E6E4DC;
--exported-colors-sand-2: #D5CFBD;
--exported-colors-sand-3: #C2B9A0;
--exported-colors-sand-4: #AEA58C;
--exported-colors-sand-5: #9A9178;
--exported-colors-sand-6: #867C65;
--exported-colors-sand-7: #736A53;
--exported-colors-sand-8: #5F5746;
--exported-colors-sand-9: #4B4639;
--exported-colors-sand-10: #38352D;
--exported-colors-sand-11: #252521;
--exported-colors-sand-12: #121210;
--exported-colors-camo-0: #F9FBE7;
--exported-colors-camo-1: #E8ED9C;
--exported-colors-camo-2: #D2DF4E;
--exported-colors-camo-3: #C2CE34;
--exported-colors-camo-4: #B5BB2E;
--exported-colors-camo-5: #A7A827;
--exported-colors-camo-6: #999621;
--exported-colors-camo-7: #8C851C;
--exported-colors-camo-8: #7E7416;
--exported-colors-camo-9: #6D6414;
--exported-colors-camo-10: #5D5411;
--exported-colors-camo-11: #4D460E;
--exported-colors-camo-12: #36300A;
--exported-colors-jungle-0: #ECFEB0;
--exported-colors-jungle-1: #DEF39A;
--exported-colors-jungle-2: #D0E884;
--exported-colors-jungle-3: #C2DD6E;
--exported-colors-jungle-4: #B5D15B;
--exported-colors-jungle-5: #A8C648;
--exported-colors-jungle-6: #9BBB36;
--exported-colors-jungle-7: #8FB024;
--exported-colors-jungle-8: #84A513;
--exported-colors-jungle-9: #7A9908;
--exported-colors-jungle-10: #658006;
--exported-colors-jungle-11: #516605;
--exported-colors-jungle-12: #3D4D04;
--exported-font-family-sans: ui-sans-serif;
--exported-font-family-sans: system-ui;
--exported-font-family-sans: -apple-system;
--exported-font-family-sans: BlinkMacSystemFont;
--exported-font-family-sans: "Segoe UI";
--exported-font-family-sans: Roboto;
--exported-font-family-sans: "Helvetica Neue";
--exported-font-family-sans: Arial;
--exported-font-family-sans: "Noto Sans";
--exported-font-family-sans: sans-serif;
--exported-font-family-sans: "Apple Color Emoji";
--exported-font-family-sans: "Segoe UI Emoji";
--exported-font-family-sans: "Segoe UI Symbol";
--exported-font-family-sans: "Noto Color Emoji";
--exported-font-family-serif: ui-serif;
--exported-font-family-serif: Georgia;
--exported-font-family-serif: Cambria;
--exported-font-family-serif: "Times New Roman";
--exported-font-family-serif: Times;
--exported-font-family-serif: serif;
--exported-font-family-mono: ui-monospace;
--exported-font-family-mono: SFMono-Regular;
--exported-font-family-mono: Menlo;
--exported-font-family-mono: Monaco;
--exported-font-family-mono: Consolas;
--exported-font-family-mono: "Liberation Mono";
--exported-font-family-mono: "Courier New";
--exported-font-family-mono: monospace;
--exported-font-size-xs: 0.75rem;
--exported-font-size-xs-line-height: 1rem;
--exported-font-size-sm: 0.875rem;
--exported-font-size-sm-line-height: 1.25rem;
--exported-font-size-base: 1rem;
--exported-font-size-base-line-height: 1.5rem;
--exported-font-size-lg: 1.125rem;
--exported-font-size-lg-line-height: 1.75rem;
--exported-font-size-xl: 1.25rem;
--exported-font-size-xl-line-height: 1.75rem;
--exported-font-size-2xl: 1.5rem;
--exported-font-size-2xl-line-height: 2rem;
--exported-font-size-3xl: 1.875rem;
--exported-font-size-3xl-line-height: 2.25rem;
--exported-font-size-4xl: 2.25rem;
--exported-font-size-4xl-line-height: 2.5rem;
--exported-font-size-5xl: 3rem;
--exported-font-size-5xl-line-height: 1;
--exported-font-size-6xl: 3.75rem;
--exported-font-size-6xl-line-height: 1;
--exported-font-size-7xl: 4.5rem;
--exported-font-size-7xl-line-height: 1;
--exported-font-size-8xl: 6rem;
--exported-font-size-8xl-line-height: 1;
--exported-font-size-9xl: 8rem;
--exported-font-size-9xl-line-height: 1;
--exported-font-weight-thin: 100;
--exported-font-weight-extralight: 200;
--exported-font-weight-light: 300;
--exported-font-weight-normal: 400;
--exported-font-weight-medium: 500;
--exported-font-weight-semibold: 600;
--exported-font-weight-bold: 700;
--exported-font-weight-extrabold: 800;
--exported-font-weight-black: 900;
--exported-spacing-0: 0px;
--exported-spacing-1: 0.25rem;
--exported-spacing-2: 0.5rem;
--exported-spacing-3: 0.75rem;
--exported-spacing-4: 1rem;
--exported-spacing-5: 1.25rem;
--exported-spacing-6: 1.5rem;
--exported-spacing-7: 1.75rem;
--exported-spacing-8: 2rem;
--exported-spacing-9: 2.25rem;
--exported-spacing-10: 2.5rem;
--exported-spacing-11: 2.75rem;
--exported-spacing-12: 3rem;
--exported-spacing-14: 3.5rem;
--exported-spacing-16: 4rem;
--exported-spacing-20: 5rem;
--exported-spacing-24: 6rem;
--exported-spacing-28: 7rem;
--exported-spacing-32: 8rem;
--exported-spacing-36: 9rem;
--exported-spacing-40: 10rem;
--exported-spacing-44: 11rem;
--exported-spacing-48: 12rem;
--exported-spacing-52: 13rem;
--exported-spacing-56: 14rem;
--exported-spacing-60: 15rem;
--exported-spacing-64: 16rem;
--exported-spacing-72: 18rem;
--exported-spacing-80: 20rem;
--exported-spacing-96: 24rem;
--exported-spacing-px: 1px;
--exported-spacing-0-dot-5: 0.125rem;
--exported-spacing-1-dot-5: 0.375rem;
--exported-spacing-2-dot-5: 0.625rem;
--exported-spacing-3-dot-5: 0.875rem;
--exported-z-index-0: 0;
--exported-z-index-10: 10;
--exported-z-index-20: 20;
--exported-z-index-30: 30;
--exported-z-index-40: 40;
--exported-z-index-50: 50;
--exported-z-index-auto: auto;
}